@charset "UTF-8";
html { /* Ensures elements are flush to the edges of browser window */
	margin: 0;
	padding: 0;
}

/* Website template by freewebsitetemplates.com */
body {
	background-color: #e2e2e2;
	min-width: 780px;
	margin: 0;
	font: 14px/16px Arial, Helvetica, sans-serif;
	
	
}
#body  > a:hover {
	font: 14px/16px Arial, Helvetica, sans-serif;
	color: blue;
}
#body  > a:active {
	font: 14px/16px Arial, Helvetica, sans-serif;
	color: navy;
}

img {
	display: block;
	margin: auto, auto;
	border: 0;
}
.clearfix {
	width: 780px;
	margin: 0 auto;
}
.clearfix:after {
	clear:both;
	content:"";
	display:block;
	line-height:0;
	height:1%;
	visibility:hidden;
}
/*------------ HEADER ------------*/
#header {
	background: #0b59ae;
    position: relative;
    z-index: 10;
}
/** logo **/
.logo {
	float: center;
	display: inline-block;
}
/*------------ CONTENTS ------------*/
#contents {
	padding-bottom: 24px;
}
#contents > div.clearfix:first-child {
	background-color: white;
	width: 780px;
	padding: 10px 10px 0;
}

h1 {
	color: #57614e;
	font: 28px/30px "Times New Roman", Times, serif;
	margin: 0 0 12px;
	text-transform: uppercase;
}
h2 {
	color: #57614e;
	font: 16px/18px "Times New Roman", Times, serif;
	letter-spacing: 1px;
	margin: 0;
}
h3 {
	padding-right: 10px;
	color: #57614e;
	font: bold 16px/18px  Arial, Helvetica, sans-serif;
	margin: 0;
}
p {
	color: #626262;
	font: 14px/24px Arial, Helvetica, sans-serif;
	margin: 0 0 12px;
}
p a {
	color: #626262;
}
p a:hover {
	color: #333333;
}

}/*------------ FOOTER ------------*/
#footer  {
	border-top: 1px solid #fff;
	padding: 9px 13px 13px 13px;
}
#footer  p {
	vertical-align: top;
	text-align: left;
	padding-left: 80px;
	color: #626262;
}

#contentarea {
	text-align: left;
	width: 780px;
	min-height: 310px;
	margin: 0;
	background-color: white;
	background-repeat: repeat-y;
	padding: 15px 15px 15px 15px;
}
#pic {
	display: block;
	margin: auto, auto;
	border: 0;
	
}

