@charset "UTF-8";

html { 
	margin: 0px;
	padding: 0px;
}


body {
	background-color: #e2e2e2;
	min-width: 780px;
	margin: 0;
}

img {
	display: block;
	margin: auto, auto;
	border: 0;
}
/*------------ CONTENTS ------------*/
#content {
	margin: 0px 30px 0px 30px;
	padding: 10px;
	padding-bottom: 24px;
	background-color: white;
}
#content > div.clearfix:first-child {
	padding: 10px 10px 0;
}
/*------------ HEADER ------------*/
header {
	background: #0b59ae;
	text-align: center;
	color: white;
	font-family: Times;
	font-size: 16px;
    position: relative;
	padding: 19px 9px 19px 9px;
    z-index: 10;
}
}/*------------ FOOTER ------------*/
#footer  {
	border-top: 1px solid #fff;
	padding: 9px 13px 13px 13px;
}
#footer  p {
	vertical-align: top;
	text-align: center;

}

#facebook {
  text-align: center;
}
.facebook {
  display: inline;
  margin-left: auto;
  margin-right: auto;
}


