@charset "UTF-8";

html { /* Ensures elements are flush to the edges of browser window */
	margin: 0;
	padding: 0;
}


body {
	background-color: #e2e2e2;
	min-width: 780px;
	margin: 0;
}

img {
	display: block;
	margin: auto, auto;
	border: 0;
}
/*------------ HEADER ------------*/
header {
	background: #0b59ae;
	text-align: center;
	color: white;
	font-family: Times;
	font-size: 24px;
    position: relative;
	padding: 19px 9px 19px 9px;
    z-index: 10;
}
}/*------------ FOOTER ------------*/
#footer  {
	border-top: 1px solid #fff;
	padding: 9px 13px 13px 13px;
}
#footer  p {
	vertical-align: top;
	text-align: center;
	color: #626262;
}

#facebook {
  text-align: center;
}
.facebook {
  display: inline;
  margin-left: auto;
  margin-right: auto;
}


